@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

/* font-family: "Inter", sans-serif; */
/* font-family: "Dancing Script", cursive; */

/* Common Style */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --primaryColor: rgb(255, 255, 255);
    --secondaryColor: rgba(255, 255, 255, 0.5);
    --brandColor: rgb(230, 83, 60);
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
}

.common-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    font-family: "Inter", sans-serif;
    border-radius: 2.5rem;
    background: rgb(230, 83, 60);
    color: var(--primaryColor);
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;

}

.heading-primary {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.heading-secondary {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;

}

/* header part css start */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(35, 35, 35, 0) 100%), linear-gradient(360.00deg, rgb(17, 17, 17), rgba(35, 35, 35, 0) 100%);
    /* padding-top: 2rem; */
}

.logo {
    color: var(--brandColor);
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.navbar ul {
    display: flex;
    gap: 3rem;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 3rem;

}

.navbar>ul>li>a {
    color: var(--secondaryColor);

}

.navbar ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.hamburger-icon {
    font-size: 1.5rem;
    display: none;
}

.active {
    background-color: var(--brandColor);
    border-radius: 3rem;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-description {
    margin: auto 0;
}

.banner-description p {
    margin: 28px 0;
}

.banner-title {
    color: rgb(255, 255, 255);

    font-size: 3.5rem;
    font-weight: 900;
    text-align: left;
}

.banner-title span {
    font-family: "Dancing Script", cursive;
}

.banner-btn {
    display: flex;
    gap: 8px;
}

.download-btn {
    background-color: rgb(0, 0, 0);
    border: 1px solid var(--primaryColor);
}

.banner-img {
    position: relative;
}

.banner-img img {
    float: right;
    margin-right: 50px;
}

.banner-card01,
.banner-card02 {
    padding: 1rem;
    border: 1px solid var(--secondaryColor);
    border-radius: 1rem;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: 30px;
}

.banner-card01 {
    right: 0;
    bottom: 300px;
}

.banner-card01 h3 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primaryColor);
}

.banner-card02 {
    bottom: 63px;
    right: 280px;
}

.banner-card02-items {
    display: flex;
    align-items: center;
    gap: 12px;
}

.banner-card02 .circle {
    padding: 10px;
    background-color: var(--brandColor);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.banner-card02-description h3 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--primaryColor);
}

/* header part css end */
/* main part css start */
main {
    background-color: rgb(0, 0, 0);
}

/* habit part css start */
.habit {
    padding: 50px 0;
}

.habit-description {
    text-align: center;
}

.habit-description p {
    margin: 14px 0 50px;
}

.habit-card-container {
    display: flex;
    gap: 2rem;
}

.habit-card {
    text-align: center;
}

.habit-card h5 {
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--primaryColor);
    margin: 30px 0 5px;
}

.habit-card img {
    border-radius: 50%;
    border: 5px solid rgb(26, 26, 26);
}

/* habit part css end */
/* Run Extra mile part css start */
.run {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 1rem;
    background: rgb(34, 34, 34);
    padding: 2rem 2.5rem;
    margin: 50px 0;
}

.run-img {
    text-align: end;
}

.run-img img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
}

.run-description p {
    margin: 1rem 0 2rem;
}

/* Run Extra mile part css end */
/* More Room part css start */
.room-description{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.room-description p{
    margin: 16px 0 30px;
}
.room-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.room-img img{
    width: 100%;
    height: 100%;
}
.room-img{
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}
.room-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: linear 0.3s;
    color: var(--brandColor);
    font-size: 1.5rem;
    font-weight: 500;
}
.room-img:hover .overlay{
    opacity: 1;
    width: 50%;
    border-radius: 16px;
}
/* More Room part css end */
/* BMI part css start */
.bmi-calculator-description {
    margin: 70px 0 70px 300px;
    text-align: left;
}

.bmi-calculator-description p {
    margin-top: 16px;
}

.bmi-items-container {
    background-color: rgb(34, 34, 34);
    padding: 50px 0;
}

.bmi-calculator-items {
    display: flex;
}

.bmi-calculator-chart {
    width: 50%;
}

.bmi-calculator-chart table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bmi-calculator-chart table th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
}

.bmi-calculator-chart table {
    border-collapse: collapse;
    margin: 3rem 0;
}

.bmi-calculator-chart th,
td {
    padding: 1rem;
}

.bmi-calculator-chart table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
}

.bmi-calculator {
    width: 50%;
}

.bmi-calculator p {
    margin: 15px 0 30px;
}

.bmi-calculator-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 35px;
}

.bmi-calculator-form input,
.bmi-calculator-form select {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(57, 57, 57);
    padding: 13px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.bmi-calculator-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.activity {
    grid-column: 1 / span 2;
    grid-row: 3;
}

/* BMI part css end */
/* Team part css start */
.team {
    padding-bottom: 80px;
}

.team-card-area {
    padding: 1rem;
    border-radius: 1.5rem;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.team-description {
    text-align: center;
    margin: 80px 0;
}
.team-description p{
    margin-top: 1rem;
}
.team-card-identity h5 {
    font-size: 1.25rem;
    color: var(--primaryColor);
}

.team-card-img {
    position: relative;
    height: 350px;
}

.team-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1.5rem;
}

.team-card-identity {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
}

/* Team part css end */
/* main part css end */
/* footer part css start */
footer {
    background-color: rgb(26, 26, 26);
}

.footer-content {
    padding: 60px 0;
    display: flex;
}

footer h3 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
    font-style: italic;
    margin-bottom: 40px;
}

.footer-logo {
    width: 50%;
    padding-right: 80px;
}

.footer-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-items ul li {
    margin: 1.25rem 0;
}

.footer-items ul li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
}

.line {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}

.reserved-declacration {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 35px 0;
    text-align: center;
}

/* footer part css end */